{% extends "base.html" %}

{% block content%}

<form class="form-horizontal  p-3 d-flex justify-content-center" name="loginForm" method="post">
    {% csrf_token %}
    <div class="">
        <div class="card px-5 py-5 d-flex row" id="form1">
            
            <div class="text-danger">{{ massage }}</div>

            {% for field,error in form.errors.items %}
                <li class="text-danger">{{ error }}</li>
            {% endfor %}

            {% for field in form %}
            <div class="form-group m-1">
                {{ field.label_tag }}
                <div class="controls">
                    {{ field }}
                </div>
            </div>
            {%endfor%}
            <a href="/signup">create new acount</a>
            <div class="form-group m-4" >
                <div class="controls submitbtn" id="submit">
                    <button type="submit" class="btn btn-primary " >login</button>
                    
                </div>
        </div>
    </div>
    </div>
</form>
{%  endblock  %}